# Domain configuration
DOMAIN=music.example.com
EMAIL=admin@example.com

# Navidrome configuration
ND_MUSICFOLDER=${HOME}/music
ND_DATAFOLDER=${HOME}/navidrome-data
ND_LOGLEVEL=info
ND_SESSIONTIMEOUT=720h
ND_SCANSCHEDULE=5m
ND_TRANSCODINGCACHESIZE=150MiB
ND_ENABLETRANSCODINGCONFIG=true
